h3 {
  text-align: left;
  margin-left: 10px;
}

#modalButton {
  width: 120px;
  background-color: blue;
  padding: 15px;
  border-style: none;
  border-radius: 20% / 50%;
  color: white;
  font-weight: bold;
}

.container {
  width: 900px;
  height: 300px;
  margin: 0 auto;
  margin-top: 30px;
  border: 2px solid lightgray;
  border-radius: 10px;
  position: relative;
  text-align: center;
}

.btnContainer {
  display: flex;
}

.btn {
  width: 33.33%;
  padding: 15px;
  border-style: none;
  background-color: lightgray;
  font-weight: bold;
  cursor: pointer;
}
.btn_act {
  width: 33.33%;
  padding: 15px;
  border-style: none;
  font-weight: bold;
  cursor: pointer;
  color: white;
  background-color: blue;
  transition: 0.2s;
}

#tagActive {
  border: 1px solid blue;
}
